body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('abyan-athif-K0U0eSAjFGU-unsplash.jpeg');
}

button {
    background-color: rgb(111, 111, 111);
}

.number, .operation {
    padding: 15px;
    font-size: larger;
}

.number {
    border-radius: 50%;
    border-color: black;
    padding: 4px 8px;
    
}

#decimal-button {
    padding: 4px 10.5px;
}


.operation {
    padding: 1px 2px;
}

#calculator-body {
    display:grid;
    grid-template-rows: 1.6fr .25fr 1fr .4fr;
    background-color: #7e18ba; 
    width: 350px;
    height: 485px;
    margin-top: 100px;
    border-color: black;
    border-width: 2px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 27px;
    
}



#around-screen, #top-half {
    display: flex;
    justify-content: center;
    align-items: center;
}

#around-screen {
    background-color: rgb(45, 45, 45);
    padding: 10px;
    width: 85%;
    height: 75%;
    border-radius: 5px;
}

#display {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    border-color: black;
    border-width: 2px;
    width: 60%;
    height: 80%;
    font-size: larger;
}

#middle {
    display: flex;
    justify-content: center;
}

#calculator-text {
    color: rgb(94, 1, 148); 
    border-color: black;
    border-width: 10px;
    border-radius: 5px;
    font-weight: bold;

}

#calc-text-border {
    border-color: rgb(94, 1, 148); ;
    border-width: 2px;
    border-radius: 17px;
    border-style: solid;
    padding: 1.5px 5px;
    
}

#middle-bottom {
    display:grid;
    grid-template-columns: 50% 50%;
    
}

#middle-left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 23px;
}

#operator-nav-pad {
    display: grid;
    grid-template-columns: 27px 27px 27px;
    grid-template-rows: auto;
    grid-template-areas:
    ". add ."
    "multiply middle divide"
    ". subtract .";
}

#add {
    grid-area: add;
    border-bottom-width: 0px;
}

#multiply {
    grid-area: multiply;
    border-right-width: 0px;
}

#middle-button {
    grid-area: middle;
    border-width: 0px;
}

#divide {
    grid-area: divide;
    border-left-width: 0px;
}

#subtract {
    grid-area: subtract;
    border-top-color: rgb(111, 111, 111);
}

#middle-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

}

#one-three, #four-six, #seven-nine, #zero-decimal {
    padding-right: 25px;
    padding-bottom: 5px;
}



#bottom-half {
    display: grid;
}

#bottom {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}

#bottom-buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 22%;
    
}

.bottom-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

figure {
    margin: 0px;
    vertical-align: top;
    text-align: center;
}

.select-start {
padding: 5px 14px;
border-radius: 10px;
border-color: rgb(45, 45, 45);
border-style: groove;
align-self: center;
}

#bottom-button-descriptions {
    color: rgb(57, 0, 91); 
}